# Written by Synplify Pro version mapsbt, Build 785R. Synopsys Run ID: sid1368744434 
# Top Level Design Parameters 

# Clocks 
create_clock -period 25.000 -waveform {0.000 12.500} -name {clock40mhz_fpga} [get_ports {clock40mhz_fpga}] 
create_clock -period 25.000 -waveform {0.000 12.500} -name {clock40mhz_xtal} [get_ports {clock40mhz_xtal}] 
create_clock -period 100.000 -waveform {0.000 50.000} -name {sc_tck} [get_ports {ladder_fpga_sc_tck}] 
create_clock -period 100.000 -waveform {0.000 50.000} -name {temperature} [get_ports {temperature}] 
create_clock -period 25.000 -waveform {0.000 12.500} -name {switchover} [get_cells {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component}] 
create_clock -period 100.000 -waveform {0.000 50.000} -name {updateIR} [get_registers {COMP_ladder_fpga_SC_TAP_CONTROL|updateIR}] 
create_clock -period 1000.000 -waveform {0.000 500.000} -name {ladder_fpga|holdin_echelle} [get_ports {holdin_echelle}] 
create_clock -period 1000.000 -waveform {0.000 500.000} -name {ladder_fpga|testin_echelle} [get_ports {testin_echelle}] 
create_clock -period 100.000 -waveform {0.000 50.000} -name {ladder_fpga|COMP_LADDER_FPGA_SC_CONFIG.a_6_d_e.level_shifter_dac_load_derived_clock} [get_pins {COMP_LADDER_FPGA_SC_CONFIG|a_6_d_e|data_out_Z|q}] 

# Virtual Clocks 

# Generated Clocks 
derive_pll_clocks
if {[get_collection_info -size [get_clocks {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clk[1]}]] == 1} {
    set default_clkgroup_3___0 [get_clock_info -name [get_clocks {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clk[1]}]]
} else {
    set default_clkgroup_3___0 {0}
    post_message -type warning "Warning:  Could not identify clock: comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clk[1]"
}
if {[get_collection_info -size [get_clocks {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clkbad[1]}]] == 1} {
    set default_clkgroup_3___1 [get_clock_info -name [get_clocks {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clkbad[1]}]]
} else {
    set default_clkgroup_3___1 {0}
    post_message -type warning "Warning:  Could not identify clock: comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clkbad[1]"
}
if {[get_collection_info -size [get_clocks {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clk[0]}]] == 1} {
    set default_clkgroup_3___2 [get_clock_info -name [get_clocks {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clk[0]}]]
} else {
    set default_clkgroup_3___2 {0}
    post_message -type warning "Warning:  Could not identify clock: comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clk[0]"
}
if {[get_collection_info -size [get_clocks {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clkbad[0]}]] == 1} {
    set default_clkgroup_3___3 [get_clock_info -name [get_clocks {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clkbad[0]}]]
} else {
    set default_clkgroup_3___3 {0}
    post_message -type warning "Warning:  Could not identify clock: comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clkbad[0]"
}
if {[get_collection_info -size [get_clocks {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clk[2]}]] == 1} {
    set default_clkgroup_3___4 [get_clock_info -name [get_clocks {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clk[2]}]]
} else {
    set default_clkgroup_3___4 {0}
    post_message -type warning "Warning:  Could not identify clock: comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clk[2]"
}
if {[get_collection_info -size [get_clocks {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clk[3]}]] == 1} {
    set default_clkgroup_3___5 [get_clock_info -name [get_clocks {comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clk[3]}]]
} else {
    set default_clkgroup_3___5 {0}
    post_message -type warning "Warning:  Could not identify clock: comp_mega_func_pll_40MHz_switchover_cycloneIII|altpll_component|*clk[3]"
}
create_generated_clock -name {tap_control|sc_updateDR_0x09_derived_clock} -divide_by 1 -source [get_pins {COMP_ladder_fpga_SC_TAP_CONTROL|sc_updateDR_0x09_Z|clk}] [get_pins {COMP_ladder_fpga_SC_TAP_CONTROL|sc_updateDR_0x09_Z|q}] 
create_generated_clock -name {dr_cell_a_10_d_e_0|scan_out_derived_clock} -divide_by 1 -source [get_pins {COMP_ladder_fpga_SC_ETAT_REG|a_10_d_e|scan_out_Z|clk}] [get_pins {COMP_ladder_fpga_SC_ETAT_REG|a_10_d_e|scan_out_Z|q}] 
create_generated_clock -name {dr_cell_a_9_d_e_0|scan_out_derived_clock} -divide_by 1 -source [get_pins {COMP_ladder_fpga_SC_ETAT_REG|a_9_d_e|scan_out_Z|clk}] [get_pins {COMP_ladder_fpga_SC_ETAT_REG|a_9_d_e|scan_out_Z|q}] 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 
set Inferred_clkgroup_1 [list ladder_fpga|testin_echelle]
set Inferred_clkgroup_0 [list ladder_fpga|holdin_echelle]
set default_clkgroup_3 [list clock40mhz_fpga \
                               $default_clkgroup_3___5 \
                               $default_clkgroup_3___4 \
                               $default_clkgroup_3___3 \
                               $default_clkgroup_3___2 \
                               $default_clkgroup_3___1 \
                               $default_clkgroup_3___0]
set default_clkgroup_4 [list clock40mhz_xtal]
set default_clkgroup_0 [list sc_tck \
                               tap_control|sc_updateDR_0x09_derived_clock \
                               updateIR \
                               dr_cell_a_9_d_e_0|scan_out_derived_clock \
                               dr_cell_a_10_d_e_0|scan_out_derived_clock \
                               ladder_fpga|COMP_LADDER_FPGA_SC_CONFIG.a_6_d_e.level_shifter_dac_load_derived_clock]
set default_clkgroup_1 [list temperature]
set default_clkgroup_2 [list switchover]
set_clock_groups -asynchronous -group $Inferred_clkgroup_1 -group $Inferred_clkgroup_0 -group $default_clkgroup_3 -group $default_clkgroup_4 -group $default_clkgroup_0 -group $default_clkgroup_1 -group $default_clkgroup_2

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 
# define_false_path -from {p:reset_n} -to {all_registers}

# Non-forward-annotatable constraints (intentionally commented out) 

