NET "ALTERA_DATA0" LOC = AF21 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "ALTERA_CONIG_DONE" LOC = AF20 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "ALTERA_nCONFIG" LOC = AE19 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "ALTERA_nSTATUS" LOC = AF19 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "ALTERA_DCLK" LOC = AE21 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
