NET "F2_DES_D[0]" LOC = AA23 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[1]" LOC = AA24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[2]" LOC = T20 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[3]" LOC = U20 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[4]" LOC = AF24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[5]" LOC = AE23 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[6]" LOC = AA22 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[7]" LOC = Y22 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[8]" LOC = Y21 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[9]" LOC = Y20 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[10]" LOC = W22 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[11]" LOC = V22 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[12]" LOC = V20 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[13]" LOC = U19 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[14]" LOC = AB22 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[15]" LOC = AB21 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[16]" LOC = W19 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[17]" LOC = W18 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[18]" LOC = AF25 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[19]" LOC = AE24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[20]" LOC = V19 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[21]" LOC = V18 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[22]" LOC = AC24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_D[23]" LOC = AC23 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[0]" LOC = V17 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[1]" LOC = U17 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[2]" LOC = U22 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[3]" LOC = U21 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[4]" LOC = T19 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[5]" LOC = T18 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[6]" LOC = U23 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[7]" LOC = T22 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[8]" LOC = R18 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[9]" LOC = R17 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[10]" LOC = R19 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[11]" LOC = R20 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[12]" LOC = P18 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[13]" LOC = P17 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[14]" LOC = R21 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[15]" LOC = R22 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[16]" LOC = V23 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[17]" LOC = W24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[18]" LOC = U25 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[19]" LOC = U26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[20]" LOC = W25 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[21]" LOC = W26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[22]" LOC = V24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_D[23]" LOC = V26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_TCLK" LOC = AA13 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_RCLK" LOC = P22 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_LED[0]" LOC = L2 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_LED[1]" LOC = L1 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_LED[2]" LOC = K3 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_LED[3]" LOC = K1 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_BISTEN" LOC = G1 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_PASS" LOC = J1 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_PTOSEL" LOC = F1 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_REN" LOC = F3 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_RPWDNB" LOC = J2 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_SLEW" LOC = H1 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_DEN" LOC = E2 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_BISTM" LOC = G2 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_SER_TPWDNB" LOC = E1 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_MOD_DEF[2]" LOC = N2 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_MOD_DEF[0]" LOC = M3 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_MOD_DEF[1]" LOC = N1 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_RX_LOSS" LOC = M1 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_TX_DISABLE" LOC = L8 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_TX_FAULT" LOC = K8 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F2_DES_LOCK" LOC = H3 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
