NET "F3_DES_D[0]" LOC = N22 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[1]" LOC = N23 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[2]" LOC = N17 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[3]" LOC = N18 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[4]" LOC = R23 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[5]" LOC = R24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[6]" LOC = N20 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[7]" LOC = M21 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[8]" LOC = U24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[9]" LOC = T23 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[10]" LOC = AE26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[11]" LOC = AE25 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[12]" LOC = AA26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[13]" LOC = AA25 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[14]" LOC = AC26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[15]" LOC = AC25 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[16]" LOC = AB26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[17]" LOC = AB24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[18]" LOC = AD26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[19]" LOC = AD24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[20]" LOC = Y26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[21]" LOC = Y24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[22]" LOC = T26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_D[23]" LOC = T24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[0]" LOC = N19 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[1]" LOC = M18 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[2]" LOC = R26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[3]" LOC = R25 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[4]" LOC = L18 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[5]" LOC = M19 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[6]" LOC = P26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[7]" LOC = P24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[8]" LOC = K18 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[9]" LOC = L17 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[10]" LOC = N24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[11]" LOC = M23 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[12]" LOC = N21 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[13]" LOC = P20 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[14]" LOC = L24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[15]" LOC = L23 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[16]" LOC = K19 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[17]" LOC = L19 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[18]" LOC = N25 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[19]" LOC = N26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[20]" LOC = L20 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[21]" LOC = L21 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[22]" LOC = H19 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_D[23]" LOC = J20 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_RCLK" LOC = P21 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_TCLK" LOC = AB13 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_BISTM" LOC = H26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_RPWDNB" LOC = K26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_SLEW" LOC = G25 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_DEN" LOC = D26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_SER_TPWDNB" LOC = D24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_PTOSEL" LOC = F24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_REN" LOC = F26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_MOD_DEF[2]" LOC = M26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_MOD_DEF[0]" LOC = J26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_MOD_DEF[1]" LOC = M24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_RX_LOSS" LOC = J25 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_TX_DISABLE" LOC = L25 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_BISTEN" LOC = H24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_LOCK" LOC = G26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_DES_PASS" LOC = K24 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_LED[0]" LOC = C12 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_LED[1]" LOC = D12 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_LED[2]" LOC = A12 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_LED[3]" LOC = B12 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "F3_TX_FAULT" LOC = L26 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
