NET "L1_FIBER2LVDS_N[0]" LOC = A22 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[1]" LOC = A21 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[2]" LOC = A20 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[3]" LOC = A19 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[4]" LOC = A18 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[5]" LOC = H17 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[6]" LOC = D20 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[7]" LOC = E18 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[8]" LOC = C20 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[9]" LOC = G17 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[10]" LOC = D19 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[11]" LOC = C18 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[12]" LOC = H15 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[13]" LOC = A17 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[14]" LOC = E16 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[15]" LOC = E17 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[0]" LOC = B22 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[1]" LOC = C21 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[2]" LOC = B20 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[3]" LOC = C19 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[4]" LOC = B18 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[5]" LOC = J17 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[6]" LOC = E20 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[7]" LOC = F18 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[8]" LOC = D21 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[9]" LOC = H16 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[10]" LOC = E19 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[11]" LOC = D18 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[12]" LOC = J15 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[13]" LOC = C17 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[14]" LOC = F16 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[15]" LOC = F17 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[0]" LOC = A23 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[1]" LOC = G21 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[2]" LOC = C24 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[3]" LOC = D22 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[4]" LOC = H21 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[5]" LOC = G22 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[6]" LOC = E24 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[7]" LOC = G24 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[8]" LOC = G19 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[9]" LOC = A25 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[10]" LOC = C26 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[11]" LOC = B26 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[12]" LOC = K21 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[13]" LOC = J22 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[14]" LOC = J24 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[15]" LOC = E26 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[0]" LOC = B23 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[1]" LOC = G20 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[2]" LOC = D23 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[3]" LOC = F22 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[4]" LOC = H20 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[5]" LOC = H22 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[6]" LOC = E23 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[7]" LOC = G23 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[8]" LOC = H18 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[9]" LOC = B24 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[10]" LOC = C25 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[11]" LOC = B25 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[12]" LOC = K20 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[13]" LOC = K22 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[14]" LOC = J23 | IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[15]" LOC = E25 | IOSTANDARD = LVDS_33 ;
NET "L1_JTAG_N[0]" LOC = D13 | IOSTANDARD = LVDS_33 ;
NET "L1_JTAG_N[1]" LOC = A16 | IOSTANDARD = LVDS_33 ;
NET "L1_JTAG_N[2]" LOC = G14 | IOSTANDARD = LVDS_33 ;
NET "L1_JTAG_P[0]" LOC = F13 | IOSTANDARD = LVDS_33 ;
NET "L1_JTAG_P[1]" LOC = B16 | IOSTANDARD = LVDS_33 ;
NET "L1_JTAG_P[2]" LOC = J14 | IOSTANDARD = LVDS_33 ;
NET "L1_RSTB_N" LOC = A14 | IOSTANDARD = LVDS_33 ;
NET "L1_RSTB_P" LOC = B14 | IOSTANDARD = LVDS_33 ;
NET "L1_START_N" LOC = A13 | IOSTANDARD = LVDS_33 ;
NET "L1_START_P" LOC = C13 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[16]" LOC = AD15 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[17]" LOC = AC17 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[18]" LOC = AF15 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[19]" LOC = W17 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[16]" LOC = AC15 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[17]" LOC = AB17 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[18]" LOC = AE15 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[19]" LOC = V16 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[20]" LOC = AF18 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[21]" LOC = AA17 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[22]" LOC = AB18 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[23]" LOC = AF17 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[20]" LOC = AD18 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[21]" LOC = Y16 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[22]" LOC = AA18 | IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[23]" LOC = AE17 | IOSTANDARD = LVDS_33 ;
NET "L1_MARKER_N" LOC = AD19 | IOSTANDARD = LVDS_33 ;
NET "L1_MARKER_P" LOC = AC19 | IOSTANDARD = LVDS_33 ;
