NET "CLK40" LOC = AF12;
NET "CLK40" IOSTANDARD = LVCMOS33;
#NET "CLK40" DRIVE = 12;
#NET "CLK40" SLEW = SLOW;
#
#NET "CLK40" TNM_NET = "CLK40";
#TIMESPEC TS_CLK40 = PERIOD "CLK40" 40 MHz HIGH 50%;
NET "F0_DES_D[0]" LOC = L6 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[1]" LOC = L7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[2]" LOC = M4 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[3]" LOC = M6 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[4]" LOC = L3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[5]" LOC = L4 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[6]" LOC = M8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[7]" LOC = M9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[8]" LOC = N3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[9]" LOC = N4 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[10]" LOC = N9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[11]" LOC = M10 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[12]" LOC = N5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[13]" LOC = P5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[14]" LOC = R9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[15]" LOC = P10 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[16]" LOC = P1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[17]" LOC = P3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[18]" LOC = N6 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[19]" LOC = N7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[20]" LOC = R3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[21]" LOC = R4 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[22]" LOC = P6 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_D[23]" LOC = P7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[0]" LOC = W9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[1]" LOC = V8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[2]" LOC = AA4 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[3]" LOC = AA3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[4]" LOC = W10 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[5]" LOC = V10 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[6]" LOC = W5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[7]" LOC = Y5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[8]" LOC = U8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[9]" LOC = U7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[10]" LOC = U5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[11]" LOC = V5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[12]" LOC = T10 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[13]" LOC = U9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[14]" LOC = R10 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[15]" LOC = T9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[16]" LOC = U4 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[17]" LOC = U3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[18]" LOC = T8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[19]" LOC = T6 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[20]" LOC = R5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[21]" LOC = T4 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[22]" LOC = R7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_D[23]" LOC = R6 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_RCLK" LOC = R2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_TCLK" LOC = W13 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_LED[0]" LOC = AC20 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_LED[1]" LOC = AD21 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_LED[2]" LOC = Y18 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_LED[3]" LOC = AA19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_LOCK" LOC = AC11 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_RPWDNB" LOC = V13 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_SLEW" LOC = AD11 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_MOD_DEF[0]" LOC = AA11 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_MOD_DEF[1]" LOC = V14 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_MOD_DEF[2]" LOC = U15 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_RX_LOSS" LOC = AB11 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_TX_DISABLE" LOC = AC12 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_BISTEN" LOC = W12 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_BISTM" LOC = V12 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_PASS" LOC = W14 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_PTOSEL" LOC = AF11 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_DES_REN" LOC = AE11 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_DEN" LOC = AE9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_SER_TPWDNB" LOC = AF9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F0_TX_FAULT" LOC = AA12 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[0]" LOC = AB3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[1]" LOC = AB1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[2]" LOC = AD3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[3]" LOC = AD1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[4]" LOC = AC2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[5]" LOC = AC1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[6]" LOC = AE2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[7]" LOC = AE1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[8]" LOC = AA2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[9]" LOC = AA1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[10]" LOC = Y3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[11]" LOC = Y1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[12]" LOC = W2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[13]" LOC = W1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[14]" LOC = V3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[15]" LOC = V1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[16]" LOC = U2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[17]" LOC = U1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[18]" LOC = T3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[19]" LOC = T1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[20]" LOC = V4 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[21]" LOC = W3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[22]" LOC = N8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_D[23]" LOC = P8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[0]" LOC = AC3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[1]" LOC = AB4 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[2]" LOC = V6 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[3]" LOC = V7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[4]" LOC = AB5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[5]" LOC = AA5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[6]" LOC = W7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[7]" LOC = W8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[8]" LOC = AD5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[9]" LOC = AC5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[10]" LOC = Y8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[11]" LOC = Y9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[12]" LOC = AB6 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[13]" LOC = AB7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[14]" LOC = Y6 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[15]" LOC = AA7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[16]" LOC = AB8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[17]" LOC = AA8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[18]" LOC = AD4 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[19]" LOC = AC4 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[20]" LOC = AF2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[21]" LOC = AE3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[22]" LOC = AD7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_D[23]" LOC = AC7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_TCLK" LOC = Y13 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_RCLK" LOC = R1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_LED[0]" LOC = AD10 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_LED[1]" LOC = AF10 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_LED[2]" LOC = U13 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_LED[3]" LOC = U12 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_BISTEN" LOC = AD9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_BISTM" LOC = AA9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_PASS" LOC = W11 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_PTOSEL" LOC = AF8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_REN" LOC = AC9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_RPWDNB" LOC = V11 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_SLEW" LOC = AB9 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_TPWDNB" LOC = AB10 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_SER_DEN" LOC = Y10 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_MOD_DEF[2]" LOC = AF6 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_MOD_DEF[0]" LOC = AF7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_RX_LOSS" LOC = AE7 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_TX_DISABLE" LOC = AE5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_TX_FAULT" LOC = AF5 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_DES_LOCK" LOC = AD8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F1_MOD_DEF[1]" LOC = AD6 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[0]" LOC = AA23 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[1]" LOC = AA24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[2]" LOC = T20 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[3]" LOC = U20 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[4]" LOC = AF24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[5]" LOC = AE23 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[6]" LOC = AA22 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[7]" LOC = Y22 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[8]" LOC = Y21 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[9]" LOC = Y20 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[10]" LOC = W22 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[11]" LOC = V22 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[12]" LOC = V20 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[13]" LOC = U19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[14]" LOC = AB22 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[15]" LOC = AB21 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[16]" LOC = W19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[17]" LOC = W18 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[18]" LOC = AF25 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[19]" LOC = AE24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[20]" LOC = V19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[21]" LOC = V18 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[22]" LOC = AC24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_D[23]" LOC = AC23 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[0]" LOC = V17 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[1]" LOC = U17 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[2]" LOC = U22 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[3]" LOC = U21 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[4]" LOC = T19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[5]" LOC = T18 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[6]" LOC = U23 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[7]" LOC = T22 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[8]" LOC = R18 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[9]" LOC = R17 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[10]" LOC = R19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[11]" LOC = R20 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[12]" LOC = P18 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[13]" LOC = P17 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[14]" LOC = R21 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[15]" LOC = R22 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[16]" LOC = V23 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[17]" LOC = W24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[18]" LOC = U25 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[19]" LOC = U26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[20]" LOC = W25 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[21]" LOC = W26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[22]" LOC = V24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_D[23]" LOC = V26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_TCLK" LOC = AA13 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_RCLK" LOC = P22 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_LED[0]" LOC = L2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_LED[1]" LOC = L1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_LED[2]" LOC = K3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_LED[3]" LOC = K1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_BISTEN" LOC = G1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_PASS" LOC = J1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_PTOSEL" LOC = F1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_REN" LOC = F3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_RPWDNB" LOC = J2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_SLEW" LOC = H1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_DEN" LOC = E2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_BISTM" LOC = G2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_SER_TPWDNB" LOC = E1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_MOD_DEF[2]" LOC = N2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_MOD_DEF[0]" LOC = M3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_MOD_DEF[1]" LOC = N1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_RX_LOSS" LOC = M1 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_TX_DISABLE" LOC = L8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_TX_FAULT" LOC = K8 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F2_DES_LOCK" LOC = H3 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[0]" LOC = N22 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[1]" LOC = N23 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[2]" LOC = N17 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[3]" LOC = N18 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[4]" LOC = R23 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[5]" LOC = R24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[6]" LOC = N20 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[7]" LOC = M21 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[8]" LOC = U24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[9]" LOC = T23 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[10]" LOC = AE26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[11]" LOC = AE25 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[12]" LOC = AA26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[13]" LOC = AA25 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[14]" LOC = AC26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[15]" LOC = AC25 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[16]" LOC = AB26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[17]" LOC = AB24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[18]" LOC = AD26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[19]" LOC = AD24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[20]" LOC = Y26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[21]" LOC = Y24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[22]" LOC = T26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_D[23]" LOC = T24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[0]" LOC = N19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[1]" LOC = M18 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[2]" LOC = R26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[3]" LOC = R25 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[4]" LOC = L18 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[5]" LOC = M19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[6]" LOC = P26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[7]" LOC = P24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[8]" LOC = K18 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[9]" LOC = L17 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[10]" LOC = N24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[11]" LOC = M23 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[12]" LOC = N21 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[13]" LOC = P20 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[14]" LOC = L24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[15]" LOC = L23 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[16]" LOC = K19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[17]" LOC = L19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[18]" LOC = N25 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[19]" LOC = N26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[20]" LOC = L20 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[21]" LOC = L21 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[22]" LOC = H19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_D[23]" LOC = J20 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_RCLK" LOC = P21 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_TCLK" LOC = AB13 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_BISTM" LOC = H26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_RPWDNB" LOC = K26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_SLEW" LOC = G25 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_DEN" LOC = D26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_SER_TPWDNB" LOC = D24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_PTOSEL" LOC = F24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_REN" LOC = F26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_MOD_DEF[2]" LOC = M26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_MOD_DEF[0]" LOC = J26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_MOD_DEF[1]" LOC = M24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_RX_LOSS" LOC = J25 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_TX_DISABLE" LOC = L25 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_BISTEN" LOC = H24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_LOCK" LOC = G26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_DES_PASS" LOC = K24 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_LED[0]" LOC = C12 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_LED[1]" LOC = D12 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_LED[2]" LOC = A12 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_LED[3]" LOC = B12 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "F3_TX_FAULT" LOC = L26 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "L3_FIBER2LVDS_N[0]" LOC = A4 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[1]" LOC = D5 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[2]" LOC = A5 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[3]" LOC = F7 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[4]" LOC = A6 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[5]" LOC = C6 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[6]" LOC = A7 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[7]" LOC = D7 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[8]" LOC = C8 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[9]" LOC = E9 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[10]" LOC = A8 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[11]" LOC = A9 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[12]" LOC = F10 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[13]" LOC = C10 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[14]" LOC = A10 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[15]" LOC = F11 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[0]" LOC = B4 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[1]" LOC = E6 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[2]" LOC = C5 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[3]" LOC = G8 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[4]" LOC = B6 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[5]" LOC = D6 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[6]" LOC = C7 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[7]" LOC = E8 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[8]" LOC = D8 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[9]" LOC = F9 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[10]" LOC = B8 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[11]" LOC = C9 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[12]" LOC = E10 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[13]" LOC = D10 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[14]" LOC = B10 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[15]" LOC = D11 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[0]" LOC = C3 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[1]" LOC = G7 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[2]" LOC = B1 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[3]" LOC = E5 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[4]" LOC = C1 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[5]" LOC = G5 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[6]" LOC = E3 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[7]" LOC = K9 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[8]" LOC = H5 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[9]" LOC = L9 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[10]" LOC = G3 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[11]" LOC = H7 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[12]" LOC = J5 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[13]" LOC = K6 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[14]" LOC = J3 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[15]" LOC = D1 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[0]" LOC = C4 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[1]" LOC = H8 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[2]" LOC = B2 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[3]" LOC = F5 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[4]" LOC = C2 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[5]" LOC = G6 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[6]" LOC = E4 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[7]" LOC = J10 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[8]" LOC = H6 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[9]" LOC = K10 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[10]" LOC = G4 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[11]" LOC = J7 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[12]" LOC = K5 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[13]" LOC = K7 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[14]" LOC = J4 |IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[15]" LOC = D3 |IOSTANDARD = LVDS_33 ;
NET "L3_JTAG_N[0]" LOC = D15 |IOSTANDARD = LVDS_33 ;
NET "L3_JTAG_N[1]" LOC = C16 |IOSTANDARD = LVDS_33 ;
NET "L3_JTAG_N[2]" LOC = F15 |IOSTANDARD = LVDS_33 ;
NET "L3_JTAG_P[0]" LOC = E14 |IOSTANDARD = LVDS_33 ;
NET "L3_JTAG_P[1]" LOC = D16 |IOSTANDARD = LVDS_33 ;
NET "L3_JTAG_P[2]" LOC = G16 |IOSTANDARD = LVDS_33 ;
NET "L3_RSTB_N" LOC = A15 |IOSTANDARD = LVDS_33 ;
NET "L3_RSTB_P" LOC = C15 |IOSTANDARD = LVDS_33 ;
NET "L3_START_N" LOC = C14 |IOSTANDARD = LVDS_33 ;
NET "L3_START_P" LOC = D14 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[16]" LOC = AD13 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[17]" LOC = AF13 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[18]" LOC = AF14 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[19]" LOC = AA14 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[20]" LOC = AA15 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[21]" LOC = AC14 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[22]" LOC = W16 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[23]" LOC = AD17 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[16]" LOC = AC13 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[17]" LOC = AE13 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[18]" LOC = AD14 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[19]" LOC = Y14 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[20]" LOC = Y15 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[21]" LOC = AB15 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[22]" LOC = V15 |IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[23]" LOC = AC16 |IOSTANDARD = LVDS_33 ;
NET "L3_MARKER_N" LOC = A11 |IOSTANDARD = LVDS_33 ;
NET "L3_MARKER_P" LOC = C11 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[0]" LOC = A22 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[1]" LOC = A21 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[2]" LOC = A20 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[3]" LOC = A19 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[4]" LOC = A18 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[5]" LOC = H17 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[6]" LOC = D20 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[7]" LOC = E18 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[8]" LOC = C20 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[9]" LOC = G17 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[10]" LOC = D19 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[11]" LOC = C18 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[12]" LOC = H15 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[13]" LOC = A17 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[14]" LOC = E16 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[15]" LOC = E17 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[0]" LOC = B22 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[1]" LOC = C21 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[2]" LOC = B20 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[3]" LOC = C19 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[4]" LOC = B18 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[5]" LOC = J17 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[6]" LOC = E20 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[7]" LOC = F18 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[8]" LOC = D21 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[9]" LOC = H16 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[10]" LOC = E19 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[11]" LOC = D18 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[12]" LOC = J15 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[13]" LOC = C17 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[14]" LOC = F16 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[15]" LOC = F17 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[0]" LOC = A23 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[1]" LOC = G21 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[2]" LOC = C24 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[3]" LOC = D22 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[4]" LOC = H21 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[5]" LOC = G22 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[6]" LOC = E24 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[7]" LOC = G24 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[8]" LOC = G19 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[9]" LOC = A25 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[10]" LOC = C26 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[11]" LOC = B26 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[12]" LOC = K21 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[13]" LOC = J22 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[14]" LOC = J24 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_N[15]" LOC = E26 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[0]" LOC = B23 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[1]" LOC = G20 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[2]" LOC = D23 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[3]" LOC = F22 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[4]" LOC = H20 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[5]" LOC = H22 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[6]" LOC = E23 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[7]" LOC = G23 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[8]" LOC = H18 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[9]" LOC = B24 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[10]" LOC = C25 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[11]" LOC = B25 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[12]" LOC = K20 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[13]" LOC = K22 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[14]" LOC = J23 |IOSTANDARD = LVDS_33 ;
NET "L1_LVDS2FIBER_P[15]" LOC = E25 |IOSTANDARD = LVDS_33 ;
NET "L1_JTAG_N[0]" LOC = D13 |IOSTANDARD = LVDS_33 ;
NET "L1_JTAG_N[1]" LOC = A16 |IOSTANDARD = LVDS_33 ;
NET "L1_JTAG_N[2]" LOC = G14 |IOSTANDARD = LVDS_33 ;
NET "L1_JTAG_P[0]" LOC = F13 |IOSTANDARD = LVDS_33 ;
NET "L1_JTAG_P[1]" LOC = B16 |IOSTANDARD = LVDS_33 ;
NET "L1_JTAG_P[2]" LOC = J14 |IOSTANDARD = LVDS_33 ;
NET "L1_RSTB_N" LOC = A14 |IOSTANDARD = LVDS_33 ;
NET "L1_RSTB_P" LOC = B14 |IOSTANDARD = LVDS_33 ;
NET "L1_START_N" LOC = A13 |IOSTANDARD = LVDS_33 ;
NET "L1_START_P" LOC = C13 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[16]" LOC = AD15 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[17]" LOC = AC17 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[18]" LOC = AF15 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[19]" LOC = W17 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[16]" LOC = AC15 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[17]" LOC = AB17 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[18]" LOC = AE15 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[19]" LOC = V16 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[20]" LOC = AF18 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[21]" LOC = AA17 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[22]" LOC = AB18 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_N[23]" LOC = AF17 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[20]" LOC = AD18 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[21]" LOC = Y16 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[22]" LOC = AA18 |IOSTANDARD = LVDS_33 ;
NET "L1_FIBER2LVDS_P[23]" LOC = AE17 |IOSTANDARD = LVDS_33 ;
NET "L1_MARKER_N" LOC = AD19 |IOSTANDARD = LVDS_33 ;
NET "L1_MARKER_P" LOC = AC19 |IOSTANDARD = LVDS_33 ;
NET "SPARE[0]" LOC = AF4 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "SPARE[1]" LOC = AD12 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "SPARE[2]" LOC = A2 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "SPARE[3]" LOC = AF16 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "ALTERA_DATA0" LOC = AF21 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "ALTERA_CONIG_DONE" LOC = AF20 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "ALTERA_nCONFIG" LOC = AE19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "ALTERA_nSTATUS" LOC = AF19 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
NET "ALTERA_DCLK" LOC = AE21 |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = SLOW ;
CONFIG PROHIBIT = AD20;  # DIN
CONFIG PROHIBIT = AE4;   # INIT_B
CONFIG PROHIBIT = AF22;  # M0
CONFIG PROHIBIT = AD16;  # M1
CONFIG PROHIBIT = AD22;  # CCLK
CONFIG PROHIBIT = A3;    # HSWAPEN_0
#

NET "L3_START_P" TNM_NET = L3_START_P;
TIMESPEC TS_L3_START_P = PERIOD "L3_START_P" 40 MHz HIGH 50%;

NET "F0_SER_D<*>" OFFSET = OUT 13 ns AFTER "L3_START_P";
NET "F0_DES_D<*>" OFFSET = IN 5 ns VALID 8 ns BEFORE "L3_START_P" RISING;
NET "F1_SER_D<*>" OFFSET = OUT 13 ns AFTER "L3_START_P";
NET "F1_DES_D<*>" OFFSET = IN 5 ns VALID 8 ns BEFORE "L3_START_P" RISING;
NET "F2_SER_D<*>" OFFSET = OUT 13 ns AFTER "L3_START_P";
NET "F2_DES_D<*>" OFFSET = IN 5 ns VALID 8 ns BEFORE "L3_START_P" RISING;
NET "F3_SER_D<*>" OFFSET = OUT 13 ns AFTER "L3_START_P";
NET "F3_DES_D<*>" OFFSET = IN 5 ns VALID 8 ns BEFORE "L3_START_P" RISING;