NET "L3_FIBER2LVDS_N[0]" LOC = A4 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[1]" LOC = D5 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[2]" LOC = A5 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[3]" LOC = F7 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[4]" LOC = A6 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[5]" LOC = C6 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[6]" LOC = A7 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[7]" LOC = D7 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[8]" LOC = C8 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[9]" LOC = E9 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[10]" LOC = A8 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[11]" LOC = A9 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[12]" LOC = F10 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[13]" LOC = C10 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[14]" LOC = A10 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[15]" LOC = F11 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[0]" LOC = B4 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[1]" LOC = E6 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[2]" LOC = C5 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[3]" LOC = G8 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[4]" LOC = B6 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[5]" LOC = D6 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[6]" LOC = C7 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[7]" LOC = E8 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[8]" LOC = D8 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[9]" LOC = F9 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[10]" LOC = B8 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[11]" LOC = C9 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[12]" LOC = E10 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[13]" LOC = D10 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[14]" LOC = B10 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[15]" LOC = D11 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[0]" LOC = C3 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[1]" LOC = G7 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[2]" LOC = B1 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[3]" LOC = E5 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[4]" LOC = C1 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[5]" LOC = G5 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[6]" LOC = E3 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[7]" LOC = K9 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[8]" LOC = H5 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[9]" LOC = L9 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[10]" LOC = G3 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[11]" LOC = H7 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[12]" LOC = J5 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[13]" LOC = K6 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[14]" LOC = J3 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_N[15]" LOC = D1 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[0]" LOC = C4 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[1]" LOC = H8 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[2]" LOC = B2 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[3]" LOC = F5 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[4]" LOC = C2 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[5]" LOC = G6 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[6]" LOC = E4 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[7]" LOC = J10 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[8]" LOC = H6 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[9]" LOC = K10 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[10]" LOC = G4 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[11]" LOC = J7 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[12]" LOC = K5 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[13]" LOC = K7 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[14]" LOC = J4 | IOSTANDARD = LVDS_33 ;
NET "L3_LVDS2FIBER_P[15]" LOC = D3 | IOSTANDARD = LVDS_33 ;
NET "L3_JTAG_N[0]" LOC = D15 | IOSTANDARD = LVDS_33 ;
NET "L3_JTAG_N[1]" LOC = C16 | IOSTANDARD = LVDS_33 ;
NET "L3_JTAG_N[2]" LOC = F15 | IOSTANDARD = LVDS_33 ;
NET "L3_JTAG_P[0]" LOC = E14 | IOSTANDARD = LVDS_33 ;
NET "L3_JTAG_P[1]" LOC = D16 | IOSTANDARD = LVDS_33 ;
NET "L3_JTAG_P[2]" LOC = G16 | IOSTANDARD = LVDS_33 ;
NET "L3_RSTB_N" LOC = A15 | IOSTANDARD = LVDS_33 ;
NET "L3_RSTB_P" LOC = C15 | IOSTANDARD = LVDS_33 ;
NET "L3_START_N" LOC = C14 | IOSTANDARD = LVDS_33 ;
NET "L3_START_P" LOC = D14 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[16]" LOC = AD13 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[17]" LOC = AF13 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[18]" LOC = AF14 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[19]" LOC = AA14 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[20]" LOC = AA15 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[21]" LOC = AC14 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[22]" LOC = W16 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_N[23]" LOC = AD17 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[16]" LOC = AC13 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[17]" LOC = AE13 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[18]" LOC = AD14 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[19]" LOC = Y14 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[20]" LOC = Y15 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[21]" LOC = AB15 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[22]" LOC = V15 | IOSTANDARD = LVDS_33 ;
NET "L3_FIBER2LVDS_P[23]" LOC = AC16 | IOSTANDARD = LVDS_33 ;
NET "L3_MARKER_N" LOC = A11 | IOSTANDARD = LVDS_33 ;
NET "L3_MARKER_P" LOC = C11 | IOSTANDARD = LVDS_33 ;
