NET "SPARE[0]" LOC = AF4 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "SPARE[1]" LOC = AD12 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "SPARE[2]" LOC = A2 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
NET "SPARE[3]" LOC = AF16 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW ;
